.messages{
    display: flex;
    justify-content: center;
    .container{
        width: 80%;
        padding: 50px 0px;

        .title{
            display: flex;
            justify-content: space-between;
            align-items: center;
            h1{
                font-size: 30px;
                font-weight: 500;
            }

           
        }

        table{
            width: 100%;

            tr{
                height: 100px;
                button{
                    background-color: #1dbf73;
                    color:white;
                    font-weight: 500;
                    border: none;
                    padding: 10px;
                    cursor: pointer;
                }
                th{
                    text-align: left;
                    padding: 10px;
                }

                td{
                    padding: 10px;
                }

                &:nth-child(even){
                    background-color: #f5f5f5;
                }
            }
        }
    }
}