
.navbar{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #94B49F;
    color: white;
    transition: 1.0s all ease;
    position: sticky;
    top: 0;
    z-index: 1000;

    &.active{
        background-color: white;
        color: black;
    }

    .container{
        width: 80%;
        display: flex;
        justify-content: space-between;
        padding: 20px 0px;


        .logo{
            font-size: 34px;
            font-weight: bold;
            .text{}
        }
        .links{
            display: flex;
            align-items: center;
            gap: 24px;
            font-weight: 500;
            font-family: "Montserrat", sans-serif;
        
            .user{
                display:flex;
                align-items: center;
                gap: 10px;
                cursor: pointer;
                position: relative;

                img {
                    width: 46px;
                    height: 46px;
                    border-radius: 50%;
                    object-fit: cover;
                  }
            }

            .options{
                position: absolute;
                top: 50px;
                right: 0px;
                padding: 20px;
                background-color: white;
                border:10px;
                border: 1px solid lightgrey;
                display: flex;
                flex-direction: column;
                gap: 10px;
                color: gray;
                width: 200px;
                font-weight: 300;
            }

            button{
                display: flex;
                color: white;
                padding: 10px 20px;
                border-radius: 5px;
                border: 1px solid white;
                cursor: pointer;
                background-color: transparent;

                &.active{
                    color: black;
                    font-weight: bolder;
                    border-color:black;
                }

                &:hover{
                    background-color: #CEE5D0;
                    border-color: #CEE5D0;
                }
            }
        }
    }

    hr{
        width: 100%;
        height: 0px;
        border: 0.5px 0px solid lightgrey;
    }

    .menu{
        width: 80%;
        padding: 10px 0px;
        gap: 10px;
        display: flex;
        justify-content: space-between;
        font-weight: 300;
        color: gray;
        font-family: "Montserrat", sans-serif;


    }
}